
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 20px;
  background: url("img/foto3.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;

}

.titulo {
  padding: 70px 20px;
  max-width: 1200px;
  margin: auto;
  animation: fadeIn 1.2s ease-in-out;
  text-align: center;
}

.section-title {
  display: inline-block;        /* hace que el fondo abarque solo el texto */
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: rgba(15, 15, 15, 0.349);
  color: #ffffff;
  padding: 0.3rem 1.5rem;        /* ajusta el espacio alrededor del texto */
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  animation: fadeIn 0.6s ease-out;
}

.card-estacion {
  background-color: rgb(255, 255, 255);
  border-left: 6px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  animation: fadeIn 0.6s ease-out;
}

.card-estacion:hover {
  transform: scale(1.05);
  
  
}

/* BOTONES */
.volver {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  color: #ff0000;
  background-color: white;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.10s ease;
  animation: fadeIn 0.6s ease-out;
  
}
#volverBtn {
  opacity: 0;
  visibility: hidden;
}

#volverBtn.visible {
  visibility: visible;
  animation: fadeIn 0.10s ease-out forwards;
}



.volver:hover {
  background-color: #ff0000;
  color: #ffffff;
  transform: translateY(-3px);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}