body {
  font-family: "Poppins", Arial, sans-serif;
  color: #f5f5f5;
  background: url("img/foto2.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Título principal */
.titulo-favoritos {
  text-align: center;
  color: #b10000;
  margin: 30px 0 10px;
  font-size: 28px;
  font-weight: 700;
}

/* === SECCIÓN  favoritoss=== */
.favoritos {
  padding: 70px 20px;
  max-width: 1200px;
  margin: auto;
  animation: fadeIn 1.2s ease-in-out;
  text-align: center;
}

.section-title {
  display: inline-block;        /* hace que el fondo abarque solo el texto */
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  border-radius: 25px;
  background-color: rgba(15, 15, 15, 0.349);
  color: #ffffff;
  padding: 0.3rem 1.5rem;        /* ajusta el espacio alrededor del texto */
  position: relative;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 3px;
  
  background-color: rgb(223, 214, 214);
  
  display: block;
  margin: 10px auto 0;
  border-radius: 5px;
}


/* .favoritos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px;
  justify-items: center;
} */

.favoritos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  gap: 25px;                 
  padding: 20px;
}
/* Card individual */
.favorito-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 320px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.favorito-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Imagen */
.favorito-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 2px solid #eee;
}

/* Texto */
.favorito-card h3 {
  margin: 12px 0 5px;
  color: #222;
  font-size: 18px;
  font-weight: 600;
}

.favorito-card p {
  margin: 0 0 10px;
  color: #666;
  font-size: 14px;
}

/* Botón eliminar */
.btn-eliminar {
  background-color: #d10000;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 8px 18px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.btn-eliminar:hover {
  background-color: #a00000;
}

