* { margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgba(15, 15, 15, 0.945), #a31111b2);
  padding: 0.5rem 1rem;
  position: left;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo { font-size: 1.5rem; color: #fff; text-decoration: none; }
.logo span { color: #c00; }

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #cecdcde0, 0 0 10px #c5c5c5dc;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Botón Cerrar sesión igual a los links */
.logout-btn {
  background: none;            /* sin fondo */
  border: none;                /* sin borde */
  color: #fff;                 /* color de letra igual a los links */
  font-size: 1rem;             /* mismo tamaño de letra */
  cursor: pointer;
  text-decoration: none;       /* igual que los links */
  transition: color 0.3s, text-shadow 0.3s;  /* mismo efecto */
  padding: 0;                  /* quitar padding extra */
  font-family: inherit;        /* igual que el resto */
}

.logout-btn:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #cecdcde0, 0 0 10px #c5c5c5dc;  /* mismo brillo que los links */
}



@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: linear-gradient(135deg, rgba(15, 15, 15, 0.925), #a31111a2);
    flex-direction: column;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    display: flex;
  }

  .nav-links.show {
    transform: translateX(0);
  }

  .nav-links a {
    padding: 1rem;
    border-bottom: 1px solid #ffffffc2;
  }

  .hamburger {
    display: flex;
  }

   .logout-btn {
    display: block;           /* ocupa toda la línea */
    width: 100%;              
    padding: 1rem;          
    text-align: left;   
    background: none;      
    border: none;             
    color: #fff;             
    font-size: 1rem;       
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
  }

  .logout-btn:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #cecdcde0, 0 0 10px #c5c5c5dc;
  }


}
