:root {
    --primary-color: #d31919;
    --secondary-color: #369cf0;
    --accent-color: #64b9f1;
    --dark-color: #333333;
    --light-color: #f5f5f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
    
}
body {
    background-color: var(--light-color);
    background: url("img/foto3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-container {
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
    
}
.login-header {
    background: linear-gradient(135deg, rgb(15, 15, 15), #dd0808da);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    position: relative;
    
}
.login-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.login-header p {
    font-size: 14px;
    opacity: 0.9;

}
        
.metro-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
        
.login-form {
    padding: 30px;
    
}
        
.input-group {
    margin-bottom: 20px;
    position: relative;
}
        
.input-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--dark-color);
    font-weight: 500;
}
        
.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}
        
.input-group input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 91, 170, 0.2);
}
        
.input-group i {
    position: absolute;
    right: 15px;
    top: 40px;
    color: #777;
}
        
.forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}
        
.remember-me {
    display: flex;
    align-items: center;
}
        
.remember-me input {
    margin-right: 5px;
}
        
.forgot-password a {
    color: var(--primary-color);
    text-decoration: none;
}
.forgot-password a:hover {
    color: #a50000;
    text-decoration: none;
}
        
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}
        
.login-btn:hover {
    background-color: #b91212;
}
        
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
        
.signup-link a {
    color: rgba(218, 28, 28, 0.795);
    font-weight: 600;
    text-decoration: none;
}
.signup-link a:hover {
  color: #be1717;           /* color al pasar el cursor */
  
}
        
.metro-line {
    height: 5px;
    background: linear-gradient(90deg, 
    var(--primary-color) 0%, 
    var(--secondary-color) 50%, 
    var(--accent-color) 100%);
    
}


.section-title {
  font-size: 1.8rem;
  color: #ffffff;
 
}



@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: linear-gradient(135deg, rgba(15, 15, 15, 0.925), #dd0909cb);
    flex-direction: column;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    display: flex;
  }
}