.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.alert-box {
  background: rgba(150, 150, 150, 0.205);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 320px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.3);
}

.alert-box h2 {
  margin-bottom: 0.5rem;
}

.alert-box .btns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn {
  background: linear-gradient(135deg, rgba(15, 15, 15, 0.877), #810f0fb2);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(252, 0, 0, 0.514);
  
}
