registro.css
:root {
    --primary-color: #d31919;
    --secondary-color: #369cf0;
    --accent-color: #64b9f1;
    --dark-color: #333333;
    --light-color: #f5f5f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
    
}
body {
    background-color: var(--light-color);
    background: url("img/foto3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    
}

.registro-titulo{
   font-size: 1.4rem;
   margin-bottom: 10px;
   text-align: center;
   color: #c20b0b;
   padding: 20px;
   position: relative;
   border-radius: 10px;
   font-family: "Nunito", sans-serif;
}


.register-container {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.register-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #e2e2e2;

}
.register-header h1 {
    font-size: 24px;
    margin-bottom: 5px;
    
}
.register-header p {
    font-size: 14px;
    opacity: 0.9;
   
    
}
.form-group {
  margin-bottom: 1.2rem;
  position: relative;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s;
}

.form-group input:focus {
  border-color: #d81616;
  outline: none;
}

/* Campo con error */
.form-group.error input {
  border-color: #ff4d4d;
}

/* Mensaje de error */
.error-msg {
  color: #ff4d4d;
  font-size: 0.85rem;
  position: absolute;
  bottom: -18px;
  left: 5px;
}

/* Botón */
#btn-registrarse {
  width: 100%;
  padding: 0.8rem;
  background-color: #d41414;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}
#btn-registrarse:hover {
  background-color: rgb(255, 0, 0); /* fondo más claro */
  box-shadow: 0 0 10px #fff;
}

/* Enlaces */
.extra-links {
  text-align: center;
  margin-top: 1rem;
}

.extra-links a {
  color: #d4145a;
  text-decoration: none;
  transition: color 0.3s;
}

.extra-links a:hover {
  color: #f03b6e;
  text-decoration: underline;
}

/* Mensaje general */
#mensaje {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: linear-gradient(135deg, rgba(15, 15, 15, 0.925), #dd0909cb);
    flex-direction: column;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    display: flex;
  }
}
